body {
    font-family: 'Montserrat', sans-serif;
    /* Используемый шрифт */
    color: #FFC000;
    /* Цвет текста */
    background-color: #464C5E;
    /* Цвет фона */
    overflow-y: scroll;
    /* Отображать вертикальную полосу прокрутки при 
    необходимости */
    height: 100vh;
    /* Высота равна высоте видимой области окна браузера */
    width: 100%;
    /* Ширина равна ширине видимой области окна браузера */
    margin: 0;
    /* Убираем внешние отступы */
    padding: 0;
    /* Убираем внутренние отступы */
    font-size: 21px;
    /* Размер шрифта */
}

header {
    text-align: center;
    /* Выравнивание текста по центру в заголовке */
}

header h1 {
    margin: 0;
    /* Убираем внешние отступы */
    font-size: 56px;
    /* Размер шрифта */
    color: #FFC000;
    /* Цвет текста */
    -webkit-text-fill-color: transparent;
    /* Прозрачный цвет текста */
    -webkit-text-stroke: 2px #FFC000;
    /* Обводка текста */
}

form {
    max-width: 600px;
    /* Максимальная ширина формы */
    margin: 30px auto;
    /* Отступы по вертикали */
    padding: 20px;
    /* Внутренние отступы */
    background-color: #f4f7f8;
    /* Цвет фона формы */
    border-radius: 8px;
    /* Скругление углов */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Тень блока */
}

form label {
    display: block;
    /* Размещение элемента на новой строке */
    margin-bottom: 10px;
    /* Отступ снизу */
    color: #333;
    /* Цвет текста метки */
    font-weight: bold;
    /* Жирный шрифт */
}

input {
    font-size: 18px;
    /* Размер шрифта */
}

/* Стили для полей ввода текста, текстовой области и выпадающего списка */
input[type="text"],
textarea,
select {
    width: 100%;
    /* Ширина равна 100% */
    padding: 10px;
    /* Внутренние отступы */
    margin-bottom: 20px;
    /* Отступ снизу */
    border: 1px solid #FFC000;
    /* Граница */
    border-radius: 5px;
    /* Скругление углов */
    box-sizing: border-box;
    /* Учитываем ширину границ и поля внутри блока */
    background-color: #FFF;
    /* Цвет фона */
    color: #464C5E;
    /* Цвет текста */
    transition: border-color 0.3s ease;
    /* Плавное изменение цвета границы */
}

/* Стили для полей ввода при фокусе */
input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: #FFD903;
    /* Цвет границы при фокусе */
}

/* Стили для кнопки отправки формы */
input[type="submit"] {
    background-color: #FFC000;
    /* Цвет фона */
    color: #464C5E;
    /* Цвет текста */
    border: none;
    /* Убираем границы */
    padding: 10px 20px;
    /* Внутренние отступы */
    cursor: pointer;
    /* Изменение курсора при наведении */
    border-radius: 5px;
    /* Скругление углов */
    transition: background-color 0.3s ease;
    /* Плавное изменение цвета фона */
}

/* Стили для поля загрузки файла */
input[type="file"] {
    width: 97%;
    /* Ширина поля */
    margin-bottom: 20px;
    /* Отступ снизу */
    padding: 8px;
    /* Внутренние отступы */
    border: 1px solid #FFC000;
    /* Граница */
    border-radius: 5px;
    /* Скругление углов */
    background-color: #FFF;
    /* Цвет фона */
    color: #333;
    /* Цвет текста */
    font-size: 14px;
    /* Размер шрифта */
    cursor: pointer;
    /* Изменение курсора при наведении */
}

/* Стили для кнопки отправки формы при наведении */
input[type="submit"]:hover {
    background-color: #FFD903;
    /* Цвет фона при наведении */
}

/* Анимация появления и исчезновения контейнера для загрузки файла */
.file-input-container {
    max-height: 0;
    /* Максимальная высота */
    overflow: hidden;
    /* Скрытие содержимого, выходящего за границы контейнера */
    transition: max-height 0.5s ease;
    /* Плавное изменение максимальной высоты */
}

/* Анимация появления */
.fade-in {
    max-height: 1000px;
    /* Максимальная высота для анимации появления */
}

/* Анимация исчезновения */
.fade-out {
    max-height: 0;
    /* Максимальная высота для анимации исчезновения */
}