/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #353746;
    color: #eeeeec;
    animation: fadeIn 0.8s ease-in-out forwards;
}

h1 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    color: #FFC000;
    font-size: 56px;
    -webkit-text-stroke: 2px #FFC000;
    -webkit-text-fill-color: transparent;
}

/* Стили для кнопки загрузки */
button#uploadButton {
    width: 60%;
    margin: 25px auto 20px;
    background-image: linear-gradient(45deg, #FFC000, #FF8C00);
    border: none;
    color: #353746;
    text-align: center;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button#uploadButton:hover {
    background-image: linear-gradient(45deg, #FF8C00, #FFC000);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

/* Контейнер для музыкальных треков */
.music-container {
    max-width: 1500px;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.music-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.music-item:last-child {
    border-bottom: none;
}

.music-item h2 {
    font-size: 20px;
    color: #333;
}

audio {
    width: 100%;
    margin-top: 10px;
}

/* Модальное окно */
.modal {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    /* Поверх всех элементов */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включить прокрутку, если нужно */
    background-color: rgba(0, 0, 0, 0.6);
    /* Цвет фона с прозрачностью */
    animation: fadeIn 0.5s;
    /* Анимация плавного появления */
}

/* Анимация для плавного появления */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Содержимое модального окна */
.modal-content {
    width: 50%;
    background-color: #464c5e;
    /* Цвет фона */
    color: #FFC000;
    /* Цвет текста */
    margin: 15% auto;
    /* 15% от верхней части экрана и центрировано по горизонтали 
    */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    text-align: center;
    font-size: 38px;
    -webkit-text-stroke: 2px #FFC000;
    -webkit-text-fill-color: transparent;
}

/* Кнопка закрытия модального окна */
.close {
    color: #FFC000;
    /* Цвет текста */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #FF8C00;
    /* Цвет текста при наведении */
    text-decoration: none;
    cursor: pointer;
}

/* Стили для формы загрузки музыки */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin: 15px 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    /* Цвет текста */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Анимация при наведении */
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #353746;
    background-image: linear-gradient(45deg, #FFC000, #FF8C00);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-image: linear-gradient(45deg, #FF8C00, #FFC000);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}