/* Стили для основного контейнера страницы */
body {
    font-family: Arial, sans-serif;
    /* Используем шрифт Arial*/
    margin: 0;
    /* Убираем отступы по умолчанию */
    padding: 0;
    /* Убираем внутренние отступы по умолчанию */
    background-color: #353746;
    /* Устанавливаем цвет фона */
    color: #eeeeec;
    /* Устанавливаем цвет текста */
    animation: fadeIn 0.8s ease-in-out forwards;
    /* Добавляем анимацию появления */
}

/* Стили для верхней панели */
header {
    background-color: #464c5e;
    /* Устанавливаем цвет фона */
    padding: 20px;
    /* Добавляем внутренние отступы */
    text-align: center;
    /* Выравниваем текст по центру */
    height: 90px;
    /* Устанавливаем высоту */
    display: flex;
    /* Используем flexbox для выравнивания элементов */
    flex-direction: column;
    /* Выстраиваем элементы в столбец */
    justify-content: center;
    /* Выравниваем по вертикали по центру */
}

/* Стили для заголовка в верхней панели */
header h1 {
    text-align: center;
    /* Выравниваем текст по центру */
    margin: 0;
    /* Убираем отступы */
    color: #FFC000;
    /* Устанавливаем цвет текста */
    font-size: 56px;
    /* Устанавливаем размер шрифта */
    -webkit-text-stroke: 2px #FFC000;
    /* Добавляем обводку текста */
    -webkit-text-fill-color: transparent;
    /* Делаем текст прозрачным */
}

/* Стили для кнопки добавления видео */
.add-video-button {
    width: 60%;
    /* Устанавливаем ширину кнопки */
    margin-top: 25px;
    /* Добавляем отступ сверху */
    background-image: linear-gradient(45deg, #FFC000, #FF8C00);
    /* Добавляем
    градиентный фон */
    border: none;
    /* Убираем границы */
    color: #353746;
    /* Устанавливаем цвет текста */
    text-align: center;
    /* Выравниваем текст по центру */
    padding: 15px 30px;
    /* Устанавливаем внутренние отступы */
    font-size: 18px;
    /* Устанавливаем размер шрифта */
    font-weight: bold;
    /* Делаем текст жирным */
    border-radius: 30px;
    /* Делаем скругленные углы */
    cursor: pointer;
    /* Делаем курсор указателем */
    text-decoration: none;
    /* Убираем подчеркивание */
    display: block;
    /* Блочный элемент */
    margin-left: auto;
    /* Выравниваем по центру по горизонтали */
    margin-right: auto;
    /* Выравниваем по центру по горизонтали */
    margin-bottom: 20px;
    /* Добавляем отступ снизу */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Добавляем тень */
    transition: all 0.3s ease;
    /* Добавляем плавное изменение свойств */
}

/* Стили для наведения на кнопку добавления видео */
.add-video-button:hover {
    background-image: linear-gradient(45deg, #FF8C00, #FFC000);
    /* Изменяем
    градиентный фон */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Изменяем тень */
    transform: translateY(-2px);
    /* Поднимаем кнопку немного вверх */
}

/* Стили для контейнера видео */
.video-container {
    max-width: 1500px;
    /* Устанавливаем максимальную ширину контейнера */
    width: 80%;
    /* Устанавливаем ширину контейнера */
    margin: 30px auto;
    /* Выравниваем по центру по горизонтали */
    padding: 20px;
    /* Добавляем внутренние отступы */
    background: #fff;
    /* Устанавливаем цвет фона */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Добавляем тень */
    border-radius: 8px;
    /* Делаем скругленные углы */
    transition: box-shadow 0.3s ease;
    /* Добавляем плавное изменение тени */
}

/* Стили для наведения на контейнер видео */
.video-container:hover {
    transform: translateY(-2px);
    /* Поднимаем контейнер немного вверх */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Изменяем тень */
}

/* Стили для заголовка и описания видео */
.video-container h2,
.video-container p {
    margin-left: 10px;
    /* Добавляем отступ слева */
}

/* Стили для заголовка видео */
.video-container h2 {
    margin-top: 0;
    /* Убираем верхний отступ */
    color: #FFC000;
    /* Устанавливаем цвет текста */
    font-size: 24px;
    /* Устанавливаем размер шрифта */
}

/* Стили для наведения на заголовок видео */
h2:hover {
    color: #ffd903;
    /* Изменяем цвет текста */
    transition: color 0.3s ease-in-out;
    /* Добавляем плавное изменение цвета */
    text-decoration: underline;
    /* Добавляем подчеркивание */
}

/* Стили для описания видео */
.video-container p {
    font-size: 16px;
    /* Устанавливаем размер шрифта */
    color: #34495e;
    /* Устанавливаем цвет текста */
    line-height: 1.6;
    /* Устанавливаем высоту строки */
    margin-bottom: 20px;
    /* Добавляем отступ снизу */
}

/* Стили для ссылок в контейнере видео */
.video-container a {
    text-decoration: none;
    /* Убираем подчеркивание */
    color: inherit;
    /* Наследуем цвет текста */
}

/* Анимация при наведении на контейнер видео */
.video-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Изменяем тень */
}

/* Стили для заголовка видео */
.video-container h1 {
    padding-top: 10px;
    /* Добавляем отступ сверху */
}