/* Общие стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Установка
    шрифта */
    margin: 0;
    /* Убираем внешние отступы */
    padding: 0;
    /* Убираем внутренние отступы */
    background-color: #353746;
    /* Цвет фона */
    color: #eeeeec;
    /* Цвет текста */
    display: flex;
    /* Используем flexbox для центрирования */
    justify-content: center;
    /* Выравниваем контент по центру по горизонтали */
    align-items: center;
    /* Выравниваем контент по центру по вертикали */
    height: 100vh;
    /* Занимаем всю высоту видимой области экрана */
}

/* Заголовок */
h1 {
    text-align: center;
    /* Выравнивание текста по центру */
    margin-bottom: 20px;
    /* Внешний отступ снизу */
    margin-top: 20px;
    /* Внешний отступ сверху */
    font-size: 56px;
    /* Размер шрифта */
    -webkit-text-stroke: 2px #FFC000;
    -webkit-text-fill-color: transparent;
}

/* Контейнер игрового поля */
#gameContainer {
    display: flex;
    /* Используем flexbox */
    flex-direction: column;
    /* Выравниваем элементы вертикально */
    align-items: center;
    /* Выравниваем по центру по горизонтали */
}

/* Контейнер игрового поля */
#gameBoard {
    display: grid;
    /* Используем сетку */
    grid-template-columns: repeat(3, 150px);
    /* 3 столбца по 150px */
    grid-template-rows: repeat(3, 150px);
    /* 3 строки по 150px */
    gap: 10px;
    /* Промежуток между ячейками */
}

/* Ячейка игрового поля */
.cell {
    border: 1px solid #000;
    /* Граница ячейки */
    font-size: 3em;
    /* Размер шрифта */
    display: flex;
    /* Используем flexbox */
    align-items: center;
    /* Выравнивание по центру по вертикали */
    justify-content: center;
    /* Выравнивание по центру по горизонтали */
    cursor: pointer;
    /* Изменяем курсор при наведении */
}

/* Подсветка ячейки при наведении */
.cell:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Цвет фона при наведении */
}

/* Сообщение */
p {
    text-align: center;
    /* Выравнивание текста по центру */
    font-size: 34px;
    /* Размер шрифта */
}

/* Стили для крестика */
.cell[data-value="X"] {
    color: #FFC000;
    /* Желтый цвет для крестика */
}

/* Стили для нолика */
.cell[data-value="O"] {
    color: #C00000;
    /* Красный цвет для нолика */
}